@page "{id:int}"
@model HospitalAPP.Pages.Departments.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}

<form method="post">
    <h1 class="mb-3">Edit Departments</h1>
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="number" class="form-control" asp-for="EditDepartment.Id" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Department Name</label>
        <input type="text" class="form-control" asp-for="EditDepartment.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Physician Id</label>
        <input type="number" class="form-control" asp-for="EditDepartment.PhysicianId" />
    </div>



    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">
            Edit
        </button>

        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">
            Delete
        </button>
    </div>
</form>
