@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body{
        margin: 0;
        padding: 0px;
         background-image: url('images//hospital.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
       
        
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="text-center">This is a Hospital Database Created by <strong>Mohammad Itani</strong></h2>
</div>

