@page
@model HospitalAPP.Pages.Procedures.AddModel
@{
    var message = ViewData["Message"]?.ToString();
}

<style>
    body {
        background-color: lightblue
    }
</style>

<form method="post">
    <h1 class="mb-3">Add New Procedure</h1>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div class="mb-3">
        <label class="form-label">Code</label>
        <input type="number" class="form-control" asp-for="AddProcedure.Code" />
    </div>

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="AddProcedure.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cost</label>
        <input type="number" class="form-control" asp-for="AddProcedure.Cost" />
    </div>





    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>