@page
@model HospitalAPP.Pages.Physician.AddModel
@{
    var message = ViewData["Message"]?.ToString();
}

<style>
    body{
        background-color: lightblue
    }
</style>

<form method="post">
    <h1 class="mb-3">Add A New Physician</h1>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="AddPhysician.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Social Security Number</label>
        <input type="number" class="form-control" asp-for="AddPhysician.SSN" />
    </div>

    <div class="mb-3">
        <label class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="AddPhysician.DateOfBirth" />
    </div>



    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
